html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: antiquewhite;
}
header {
    text-align: center;
}
.movie {
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
h2 {
    font-size: 30px;
}
.score,
.release_date {
    padding-block-start: 1.5rem;
}
.more {
    display: flex;
    flex-direction: row;
    padding: 0;
}
.more li {
    list-style: none;
    padding: 1rem;
    font-size: 19px;
}